/*
Estilos da página index.html*/
h1{color: #3A0CA3 ; font-size: 35px; border-color: #7209B7;  margin: 0;
    padding: 20px 0;  text-shadow: 1px 1px 1px black; background-color: #4CC9F0; border-radius: 10px; text-align: center;}

p {font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #4361EE; border-radius: 10px; color: #7209B7;display: block; margin: 0 auto;text-shadow: 1px 1px 1px black; background-color: #4CC9F0;}

body{background-color:#F72585 ; border-radius: 2px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

img {border-radius: 10px; display: block; margin: 0 auto; background-color: #4CC9F0;}

h2{color:#3A0CA3; border-radius: 10px; text-shadow: 1px 1px 1px black; background-color: #4CC9F0; text-align: center;}


iframe{ border-radius: 10px;display: block; margin: 0 auto; background-color: #4CC9F0;}

li{color: #4CC9F0; display: inline; padding: 10px; }


a{color: #7209B7; text-decoration: none;}



/*Estilos da página contato.html*/